{include file="Public/head" }
<script>
	var maxDate = <{$maxDate}>;
</script>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系时间：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:maxDate})" id="contact_date" class="input-text Wdate" value="<{$contact['contact_date']}>">
			<input type="hidden" value="<{$id}>" id="customer_id">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系结果：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea class="textarea" name="contact_name" id="contact_name"><{$contact['contact_name']}></textarea>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="add_submit_btn">
		</div>
	</div>
	</form>
</article>
{include file="Public/footer" }
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
$(function(){
	$('#add_submit_btn').click(function(){
		dataOperationObj.submitData();
	});
});

//页面操作数据对象
var dataOperationObj = {
	submitData : function(){ //添加数据
		var customer_id = $('#customer_id').val();
		var contact_date = $('#contact_date').val();
		var contact_name = $('#contact_name').val();
		if(contact_date == ''){
			layer.msg('请选择联系时间',{icon:2,time:1000});
			return false;
		}
		if(contact_name == ''){
			layer.msg('请填写联系结果',{icon:2,time:1000});
			return false;
		}

		$.ajax({
			type: 'get',
			dataType: "json",
			data: {'contact_name':contact_name,'contact_date':contact_date,'customer_id':customer_id},
			url: "<{:url('Customer/editContact')}>",
			success: function (rsp) {
				if(rsp.err_code == '0'){
					layer.msg('操作成功!',{icon:1,time:1000});
					parent.window.dataOperationObj.get_data_list(parent.window.PAGE_INFO.PAGE);
				}else{
					layer.msg(rsp.err_msg,{icon:2,time:1000});
				}
				
			},
			error: function (XmlHttpRequest, textStatus, errorThrown) {
				
			}
		});
	},
};
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>